body{
	 text-align: center;
}

#help{
	color:lime;	
	height: 280px
	width: 500px
}
#test{
	color:lime;
height: 280px
width: 500px
}

body{
	background-color:yellow; 
}

#Cat{
	height:100%;
	width:100%;
	background-color:green;
}





